<div class="container">
	<div class="login-container">

		<%= image_tag 'bogota.png' %>
		<div class="inner-container">
			<h2>Bienvenido a TaxiTouch</h2>
			<p>Rápido, fácil y seguro</p>
			<button class="btn btn-primary btn-lg">
				Login con Facebook
			</button>
		</div>
	</div>
</div>

