<div class="alert alert-dismissable alert-success fade in" style="margin-top:-10px">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong id="alertTitle">Warning!</strong>
 	<p id="alertBody">
		Best check yo self, you're not looking too good.
	</p>
</div>
<script>
	$.ready(function(){
		$(".alert").alert();
	});
</script>